

/* color: rgb(194, 74, 74); */
/* background-color: rgb(198, 219, 212); */
/* background-image: url('https://thumbs.dreamstime.com/z/sticky-todo-11106198.jpg?w=992'); */
/* opacity: 100; */




/* .container-wrap{
  width: 30%;
  height: 80vh;
  background-color: rgb(38, 35, 35);
  margin-top: 5%;
  border-radius: 2%;
} */

/* .Container{
  background-color: rgb(150, 150, 128);
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
} */

/*
.TodoList{
  display: flex;
  justify-content: center;
  align-items: center;
}
  */

  /*
  


.todoContainer{
  display: flex;
  align-items: center;
  height: 35px;
}
  */


  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  /*

  .add-button{
    background-color: green;
    width: 55px;
    border: none;
    border-radius: 5px;
    height: 32px;
    color: white;
    font-weight: 600;
  }

  .add-button:hover{
    background-color: rgb(42, 239, 42);

  }
  .todo{
    margin-top: 105px;
  }
  
  .taskList{
    width: 300px;
    background-color: rgb(244, 242, 242);
    color: black;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
  }

  .to-do-list{
    width: 375px;
    background-color: rgb(58, 31, 31);
    height: 90vh;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    
  }
 
  .text{
    width: 70%;
  }

  .container1{
    background-color: antiquewhite;
  height: 100vh;
  }

  */
  /* //Todo 2 */
  body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .container {
    width: 400px;
    height: auto;
    min-height: 95vh;
    padding: 25px;
    background: transparent;
    border: 2px solid #e6b7eca1;
    border-radius: 10px;
   
  }
  
  h1 {
    color: #eee;
    text-align: center;
    margin-bottom: 36px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    height: 45px;
  }
  

  .todo-input {
    flex: 1;
    outline: none;
    padding: 10px 10px 10px 20px;
    background-color: transparent;
    border: 2px solid #e6b7eca1;
    border-radius: 30px;
    color: #eee;
    font-size: 16px;
    margin-right: 10px;
  }
  
  
  
  .add-button {
    border: none;
    outline: none;
    background: #d28ddca1;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    border-radius: 40px;
    width: 40px;
    height: 42px;
  }
  
  .add-button:hover{
   background-color: #a282a6a1;
   
  }
  


  .todos-task  {
    min-height: 45px;
    border: 2px solid #e6b7eca1;
    border-radius: 15px;
    backdrop-filter: blur(50px);
    color: #fff;
    font-weight: 700;
  }

  .todoLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .TasksBlock{
    overflow:scroll;
    height: 54vh;
  }
  


  